<h2 class="grid__subheading">{{ linkedRecipesHeading | default: 'Recipes that use ' }}{{ page.title }}</h2>
<div class="category grid grid--homogenous">

  {% for recipe in site.recipes %}
    {% assign hasRecipe = recipe[linkedRecipesKey] | where: "slug", page.slug | first %}
    {% unless hasRecipe %}{% continue %}{% endunless %}
    <div class="card card--homogenous">
      <div class="card__heading">
        <h4 class="card__title">
          <a href="{{ recipe.url }}">{{ recipe.title }}</a>
        </h4>
      </div>

      <a class="card__image" href="{{ recipe.url }}">
        <picture alt="" role="presentation">
          <source srcset="{{ site.url }}/images{{ recipe.id }}-400.jpg 400w"/>
          <source srcset="{{ site.url }}/images{{ recipe.id }}-400.webp 400w" type="image/webp"/>
          <img src="{{ site.url }}/images{{ recipe.id }}-400.jpg" onerror="this.style.display='none'"/>
        </picture>
      </a>

    </div>
  {% endfor %}
</div>
