.card {
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  padding: 1rem;
  margin: 1rem;

  &--homogenous {
    margin: 0 0 0.3rem 0.3rem;
    width: 12.4rem;
    height: 12.4rem;
    padding: 0;
    box-shadow: none;
  }

  &--table {
    padding: 0;
  }

  &__title {
    font-size: 1rem;
    margin-bottom: 1rem;

    & a {
      text-decoration: none;
      color: inherit;
    }

    .card--homogenous & {
      color: white;
      margin: 0;
      font-size: 1rem;
    }

    .card--table & {
      margin: 1rem 0 0 1rem;
    }

  }

  &__heading {
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    position: absolute;
    width: 100%;
  }

  &__image {
    display: block;
  }

  &__checklist {
    list-style: none;
    margin: 0;

    &-item {
      min-height: 2rem;
    }

  }

}
