$column-count: 6;
$gutter: 1rem;
$debug-color: rgba(43, 178, 248, 0.4);
$baseline-height: 1rem;

body.showgrid::before {
  content: 'Base';
  position: absolute;
  top: 0.1rem;
  left: $gutter;
  font-size: 1rem;
  color: opacify($debug-color, 1);
  text-transform: capitalize;
  white-space: pre;

  @media (min-width: 560px) {
    content: 'Small';
  }

  @media (min-width: 768px) {
    content: 'Medium';
  }

  @media (min-width: 1100px) {
    content: 'Large';
  }
}

body.showgrid::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1088px;
  height: 10000vh;
  pointer-events: none;
  z-index: 99;
  background-image: 
    repeating-linear-gradient(
      to right,
      $debug-color 0,
      $debug-color $gutter,
      transparent $gutter,
      transparent calc((100% / #{$column-count}) - #{$gutter}),
      $debug-color calc((100% / #{$column-count}) - #{$gutter}),
      $debug-color calc(100% / #{$column-count})
    ),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent $baseline-height,
      $debug-color calc(#{$baseline-height} - 0.5px),
      $debug-color calc(#{$baseline-height} + 0.5px)
    );
}
