.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin: -1rem 1rem;

  &--homogenous {
    margin: 0;
  }

  &__subheading {
    font-size: 1.25rem;
    margin: 1rem 1rem 0.8rem;
    color: #757575;
  }

}
