---
layout: default
---
{% capture styles %}{% include equipment.scss %}{% endcapture %}<style type="text/css">{{ styles | scssify }}</style>
{% capture calories %}{% include calc-nutrient.md recipe=page name='calories' %}{% endcapture %}
<article itemscope itemtype="http://schema.org/Recipe" >

  <picture class="banner" itemprop="image" alt="" role="presentation">
    <source srcset="{{ site.url }}/images{{ page.id }}-2880-1620.jpg 2880w" media="(max-width: 900px)"/>
    <source srcset="{{ site.url }}/images{{ page.id }}-1441-810.jpg 1440w" media="(max-width: 900px)"/>
    <source srcset="{{ site.url }}/images{{ page.id }}-2880-560.jpg 2880w"/>
    <source srcset="{{ site.url }}/images{{ page.id }}-1441-280.jpg 1440w"/>
    <img src="{{ site.url }}/images{{ recipe.id }}-2880-560.jpg" onerror="this.style.display='none'"/>
  </picture>

  <div class="menubar">
    <h1 class="menubar__title" itemprop="title">{{ page.title }}</h1>

    {% include category-and-tags.html %}

    <aside class="menubar__navigation">

      {% include menubar-type.html %}

    </aside>
  </div>

  {% include notes.html %}

  {% include prose.html %}

  {% assign linkedRecipesHeading = 'Recipes that require a' %}
  {% assign linkedRecipesKey = 'recipeEquipment' %}
  {% include linked-recipes.html %}

</article> 
