---
layout: default
---
{% capture styles %}{% include recipe.scss %}{% endcapture %}<style type="text/css">{{ styles | scssify }}</style>
<article itemscope itemtype="http://schema.org/Recipe" >

  <picture class="banner" itemprop="image" alt="" role="presentation">
    <source srcset="/images{{ page.id }}-2880-1620.jpg 2880w" media="(max-width: 900px)"/>
    <source srcset="/images{{ page.id }}-1441-810.jpg 1440w" media="(max-width: 900px)"/>
    <source srcset="/images{{ page.id }}-2880-560.jpg 2880w"/>
    <source srcset="/images{{ page.id }}-1441-280.jpg 1440w"/>
    <img src="/images{{ recipe.id }}-2880-560.jpg" onerror="this.style.display='none'"/>
  </picture>

  <div class="menubar">
    <h1 class="menubar__title" itemprop="title">{{ page.title }}</h1>

    {% include category-and-tags.html %}

    <aside class="menubar__navigation">
      <div class="menubar__info">
        {% include recipe-icon.html %}
        <small class="menubar__info-title">
          {% if site.recipe_config.meal_types contains page.category %}
            Serves
          {% else %}
            Makes
          {% endif %}
        </small>
        <p class="menubar__info-value">{{ page.recipeYield }}</p>
      </div>

      {% include menubar-steps.html %}

      {% capture calories %}{% include calc-nutrient.md recipe=page name='calories' %}{% endcapture %}
      {% include menubar-calories.html %}

      <div class="menubar__info">
        <svg class="menubar__info-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
        </svg>
        <small class="menubar__info-title">Time</small>
        {% capture totalTime %}{{ page.prepTime }} | {{ page.cookTime }}{% endcapture %}
        {% assign totalTime = totalTime | split: ' | ' %}
        {% capture totalTime %}{% include add-iso-durations.md durations=totalTime %}{% endcapture %}
        {% assign totalTime = totalTime | strip_newlines %}
        {% include iso-duration-to-friendly.md duration=totalTime class='menubar__info-value' %}
      </div>
    </aside>
  </div>

  <section class="equipment card">
    <h4 class="card__title">Equipment Needed</h4>
    <ul class="card__checklist">
      {% for equipment in page.recipeEquipment %}
      <li class="card__checklist-item">
        <label class="field--checkbox">
          <input class="strike-checked" type="checkbox">
          {% assign equipmentData = site.equipment | where: "slug", equipment.slug | first %}
          {% if equipmentData %}
            <a href="{{ equipmentData.url }}">
              {{ equipmentData.title }}
            </a>
          {% else %}
            {{ equipment }}
          {% endif %}
        </label>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section class="ingredients card">
    <h4 class="card__title">Ingredients Needed</h4>
    <ul class="card__checklist">
      {% for ingredient in page.recipeComponent %}
      <li class="ingredient ingredient--component card__checklist-item">
        <label class="field--checkbox">
          <input class="strike-checked" type="checkbox">
          {% assign component = site.recipes | where: "slug", ingredient.slug | first %}
          {% if component %}
          <a href="{{ component.url }}">
            {% if ingredient.name %}{{ ingredient.name }}{% else %}{{ component.title }}{% endif %}
          </a>
          {% else %}
            {{ ingredient }}
          {% endif %}
          {% if ingredient.amount %}
          <span>: 
            {% for amount in ingredient.amount %}
              {% if forloop.index == 2 %}({% endif %}{{ amount }}{% if forloop.last and forloop.index != 1 %}){% endif %}
            {% endfor %}
          </span>
          {% endif %}
        </label>
      </li>
      {% endfor %}
      {% for ingredient in page.recipeIngredient %}
      <li class="ingredient card__checklist-item">
        <label class="field--checkbox">
          <input class="strike-checked" type="checkbox">
          {% assign ingredientData = site.ingredients | where: "slug", ingredient.slug | first %}
          {% if ingredientData %}
            <a href="{{ ingredientData.url }}">
              {% if ingredient.name %}{{ ingredient.name }}{% else %}{{ ingredientData.title }}{% endif %}
            </a>
          {% else %}
            {{ ingredient }}
          {% endif %}
          {% if ingredient.amount %}
          <span>: 
            {% for amount in ingredient.amount %}
              {% if forloop.index == 2 %}({% endif %}{{ amount }}{% if forloop.last and forloop.index != 1 %}){% endif %}
            {% endfor %}
          </span>
          {% endif %}
        </label>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section class="ingredients card">
    <h4 class="card__title">Instructions</h4>
    <ul class="card__checklist">
      {% for instruction in page.recipeInstructions %}
        <li class="instruction card__checklist-item">
          <label class="field--checkbox">
            <input class="strike-checked" type="checkbox">
            <span>{{ instruction.instruction }}</span>
          </label>
          {% if instruction.ingredients %}
            <small class="instruction__ingredients"><em>Ingredients</em>: 
              {% for ingredient in instruction.ingredients %}
                {% assign ingredientData = site.ingredients | where: "slug", ingredient | first %}
                {% assign recipeData = site.recipes | where: "slug", ingredient | first %}
                {% if recipeData %}
                  <a href="{{ recipeData.url }}">{{ recipeData.title }}</a>
                {% elsif ingredientData %}
                  <a href="{{ ingredientData.url }}">{{ ingredientData.title }}</a>
                {% else %}
                  {{ ingredient }}
                {% endif %}
                {% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </small>
          {% endif %}
          {% if instruction.equipment %}
            <small class="instruction__equipment"><em>Equipment</em>: 
              {% for equipment in instruction.equipment %}
                {% assign equipmentData = site.equipment | where: "slug", equipment | first %}
                {% if equipmentData %}
                  <a href="{{ equipmentData.url }}">{{ equipmentData.title }}</a>
                {% else %}
                  {{ equipment }}
                {% endif %}
                {% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </small>
          {% endif %}
          <div class="instruction__actions">
            {% if instruction.time %}
              <a class="instruction__action">
                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M7.88 3.39L6.6 1.86 2 5.71l1.29 1.53 4.59-3.85zM22 5.72l-4.6-3.86-1.29 1.53 4.6 3.86L22 5.72zM12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9c4.97 0 9-4.03 9-9s-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7zm1-11h-2v3H8v2h3v3h2v-3h3v-2h-3V9z"/>
                </svg>
                {% include iso-duration-to-friendly.md duration=instruction.time %}
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>

  {% include notes.html %}

  <aside class="nutrition card card--table">
    <h4 class="card__title">Nutrition</h4>
    {% include nutrition-table.html %}
  </aside>

  {% include prose.html %}

  {% assign anyRecipesLinked = false %}
  {% for recipe in site.recipes %}
    {% assign hasRecipe = recipe.recipeComponent | where: "slug", page.slug | first %}
    {% if hasRecipe %}{% assign anyRecipesLinked = true %}{% break %}{% endif %}
  {% endfor %}
  {% if anyRecipesLinked %}

    {% assign linkedRecipesHeading = 'Recipes that use ' %}
    {% assign linkedRecipesKey = 'recipeComponent' %}
    {% include linked-recipes.html %}

  {% endif %}

</article> 
